<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.badlogic.masaki.firebasesample">

    <uses-permission android:name="android.permission.INTERNET">

    </uses-permission>
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="firebase_analytics_collection_enabled" android:value="false" />
        <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />

        <activity
            android:name=".presentation.splash.SplashActivity"
            android:launchMode="singleTop"
            android:theme="@style/FullScreen"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.top.TopActivity"
            >
        </activity>

        <activity
            android:name=".presentation.dynamiclink.DynamicLinkActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="com.badlogic.masaki.firebasesample"
                    android:pathPattern="/top"
                    />
                <data
                    android:scheme="https"
                    android:host="com.badlogic.masaki.firebasesample"
                    android:pathPattern="/oss"
                    />
                <data
                    android:scheme="https"
                    android:host="com.badlogic.masaki.firebasesample"
                    android:pathPattern="/webView"
                    />
                <data
                    android:scheme="https"
                    android:host="com.badlogic.masaki.firebasesample"
                    android:pathPattern="/meaningless"
                    />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.license.LicenseListActivity">
        </activity>

        <activity android:name=".presentation.webview.WebViewActivity">
        </activity>

        <activity android:name=".presentation.meaningless.MeaninglessActivity">
        </activity>

    </application>

</manifest>